{% extends "base.html" %}

{% block title %}Stock Simulator 2014 - {{ company.shortName }}{% endblock %}

{% block content %}
  <div class="page-header text-center">
    <h1>{{ company.shortName }} {{ company.longName }}</h1>
  </div>

  <div class="row">
    <div class="span4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td><strong>Company name</strong></td>
            <td>{{ company.longName }}</td>
          </tr>
          <tr>
            <td><strong>Symbol</strong></td>
            <td>{{ company.shortName }}</td>
          </tr>
          {% with company.historicData|last as last %}
          <tr>
            <td><strong>Yesterday open price</strong></td>
            <td>{{ last.openPrice }}</td>
          </tr>
          <tr>
            <td><strong>Yesterday high price</strong></td>
            <td>{{ last.highPrice }}</td>
          </tr>
          <tr>
            <td><strong>Yesterday low price</strong></td>
            <td>{{ last.lowPrice }}</td>
          </tr>
          <tr>
            <td><strong>Yesterday close price</strong></td>
            <td>{{ last.closePrice }}</td>
          </tr>
          <tr>
            <td><strong>Yesterday adjusted close price</strong></td>
            <td>{{ last.adjustedClosePrice }}</td>
          </tr>
          {% with company.dailyData|last as dailyData %}
          <tr>
            <td><strong>Current price</strong></td>
            <td>{{ dailyData.currentPrice }}</td>
          </tr>
          <tr>
            <td><strong>Bid price</strong></td>
            <td>{{ dailyData.bidPrice }}</td>
          </tr>
          <tr>
            <td><strong>Ask price</strong></td>
            <td>{{ dailyData.askPrice }}</td>
          </tr>
          {% endwith %}
          <tr>
            <td><strong>Volume</strong></td>
            <td>{{ last.volume }}</td>
          </tr>
          {% endwith %}
        </tbody>
      </table>
    </div>
    <div class="span8">
      <div class="well">
        <div id="graph-container1" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span4 text-center">
      <h3>Owned stock: {{ amount_stocks }}</h3>
    </div>
    <div class="span4 text-center">
      {% load humanize %}   
      <h3>Value: ${{ value_stocks|floatformat:2|intcomma }}</h3>
    </div>
    <div class="span4 text-center">
      <h3>Change: {{ percentage_change|floatformat:2|intcomma }}%</h3>
    </div>
  </div>
  
  <div id="errors" class="row">
  
  </div>
  
  <div class="text-center">
    <form>
      <div class="input-prepend input-append">
        <button id="buy" class="btn" type="button">Buy</button>
        <input class="span2" id="change-value" type="text" 
          onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
        <button id="sell" class="btn" type="button">Sell</button>
      </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  <script type="text/javascript">
  $(function() {
      $.getJSON('/rest/companies/{{ company.shortName }}/', function(data) {
        $('#graph-container1').highcharts('StockChart', {
            chart: {
              events : {
                load: function() {
                  var series = this.series[0];
                  setInterval(function() {
                    $.getJSON('/rest/companies/{{ company.shortName }}/', function(data) {
                      series.setData(data);
                    });
                    
                  }, 60000);
                }
              }
            },
            title : {
                text : '{{ company.shortName }} Stock'
            },
            xAxis: {
                ordinal: false
            },
            series : [{
                name : '{{ company.shortName }}',
                data : data
            }]
        });
      });
      $("#companies-button").addClass("active");
      $(".btn").click(function() {
        $.ajax({
          url: '/tradestock/',
          type: 'POST',
          data: {
                  action: this.id,
                  company: '{{ company.shortName }}',
                  amount: $('#change-value').val(),
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
        })
        //.success(function(data, textStatus, jqXHR) {
        //  console.log(data);
        //  $("#errors").html(data);
        //});
        .always(function() { // For now, reload the page after sending an ajax call
          location.reload();
        });
      });

  });
  </script>
{% endblock %}
