{% extends "base.html" %}

{% block title %}Stock Simulator 2014 - Companies{% endblock %}

{% block content %}
  <h1>Companies</h1>
  <table id="companies" class="table table-hover">
  <thead>
    <tr>
      <th> Symbol </th>
      <th> Stock volume </th>
      <th> Prev. open price </th>
      <th> Prev. close price </th>
      <th> Current price </th>
      <th> Current bid price </th>
      <th> Current ask price </th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
      {% with company.historicData|last as last %}
    <tr style="cursor: pointer;">
      <td> <a class="unstyled-link" href="/companies/{{ company.shortName }}"><abbr title="{{ company.longName }}">{{ company.shortName }}</abbr></a></td>
      <td> {{ last.volume }} </td>
      <td> {{ last.openPrice }} </td>
      <td> {{ last.closePrice }} </td>
      {% endwith %}
      {% with company.dailyData|last as last %}
      <td> {{ last.currentPrice }} </td>
      <td> {{ last.bidPrice }} </td>
      <td> {{ last.askPrice }} </td>
      {% endwith %}
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block scripts %}  
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/dataTables_bootstrap.css"></link>
  <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
  <script src="{{ STATIC_URL }}js/dataTables_bootstrap.js" language="javascript" charset="utf-8" type="text/javascript"></script>
  <script>
    $( document ).ready(function() 
    {
      $( "#companies-button" ).addClass("active")

      $( "#companies" ).dataTable(
      {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
        {% if searchText %}
        "oSearch": {"sSearch": "{{ searchText }}"},
        {% endif %}
      });
          
      $(document).on("click", "tbody>tr", function()  
      {
        location.href = $(this).find("a").attr("href");
      });
    });
  </script>
{% endblock %}
